<div id="carouselExampleCaptions" class="carousel slide carousel-fade">
  <div class="carousel-indicators">

   {{#each sliders}}

    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{@index}}" class="{{this.class}}" aria-current="true" aria-label="Slide 1"></button>
   {{/each}}
    {{!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> --}}
  </div>
 


  <div class="carousel-inner">
     {{#each sliders}}
    <div class="carousel-item {{this.class}}">

      <img src="{{this.imagesUrl}}" class="d-block w-100 slider-images" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{this.tittle }} </h5>
        <p>{{this.subTittle}} </p>
      </div>
    </div>
   {{/each}}
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>